$border-offset: 1rem;
$grid--gap: Rem(32px);
%grid {
  box-sizing: border-box;
  // background: magenta;
  opacity: 0.05;
  display: grid;
  column-gap: $grid--gap;
  grid-template-columns: [col1Start] 1fr [col2Start] 1fr [col3Start] 1fr [col4Start] 1fr [col5Start] 1fr [col6Start] 1fr [col7Start] 1fr [col8Start] 1fr [col9Start] 1fr [col10Start] 1fr [col11Start] 1fr [col12Start] 1fr [col13Start];
  height: 100vh;
  padding-left: Rem(64px);
  padding-right: Rem(64px);
  width: 100%;
  margin: 0 auto;
  @include respond-to(desktop) {
    max-width: Rem(1600px);
  }
}
.grid {
  @extend %grid;
  // background: rgba(19, 211, 147, 0.2);
  position: relative;
  opacity: 1;
}

// For development
.grid-overlay {
  @extend %grid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  div {
    // background: black;
    height: 100%;
  }
}

.grid.above-fold {
  height: 100%;
}

.grid-col--thumbnail-posts {
  grid-column: col1Start / col4Start;
}

.grid-col--featured-posts {
  grid-column: col4Start / col10Start;
  position: relative;
  &:before {
    background: #cccccc;
    content: "";
    height: 100%;
    left: -16px;
    top: 0;
    width: Rem(1px);
    position: absolute;
  }
  &:after {
    background: #cccccc;
    content: "";
    height: 100%;
    right: -16px;
    top: 0;
    width: Rem(1px);
    position: absolute;
  }
}

.grid-col--news-culture {
  grid-column: col10Start / col13Start;
}
