<div class="grid above-fold">
  <div class="grid-col--thumbnail-posts">
    <slot name="left-col" />
  </div>
  <div class="grid-col--featured-posts">
    <slot name="middle-col" />
  </div>

  <div class="grid-col--news-culture">
    <slot name="right-col" />
  </div>
</div>