.post-tile--regular {
  .post-tile--picture {
    height: Rem(300px);
    img {
      height: 100%;
    }
  }

  .post-tile--title {
    font-size: Rem(18px);
  }

  .post-tile--excerpt {
    font-size: Rem(18px);
  }
}
