.post-tile--strip {
  flex-direction: row;

  .post-tile--copy {
    max-width: 70%;
    min-width: 70%;
  }

  .post-tile--picture {
    max-width: 30%;
    min-width: 30%;
    flex: 1;
    order: 2;
    height: Rem(150px);
    img {
      height: 100%;
    }
  }
}
