---
let title = 'RomanGale.com - Coming Soon';
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={title}>
  <div class="coming-soon-container">
    <h1>Coming Soon</h1>
  </div>
</BaseLayout>
