---
let title = 'My Astro Site';
import BaseLayout from "../layouts/BaseLayout.astro";

// Data
const token = __SNOWPACK_ENV__.DATO_API_TOKEN;
const response = await fetch('https://graphql.datocms.com/',
  {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'Accept': 'application/json',
      'Authorization': `Bearer ${token}`,
    },
    body: JSON.stringify({
      query: '{ allPosts { title } }'
    }),
  });
const data = await response.json()
// React
---

<BaseLayout title={title}>

  <div>
    <ul>
      {
      data.data.allPosts.map((i) => {
          return (
            <li key={i.title}>
              {i.title}
            </li>
          )
        })
      }
    </ul>
  </div>
</BaseLayout>