.header {
  @include mode-transition;
  align-items: center;
  background: $white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  width: 100%;
  max-height: $headerHeight;
}

.header__logo {
  box-sizing: border-box;
  width: Rem(285px);
  margin-top: Rem(23px);
  margin-bottom: Rem(15px);

  img {
    width: 100%;
  }
}

body.dark {
  .header {
    background: $dark-mode;
  }
}

body.light {
  .header {
    background: $light-mode;
  }
}
