---


// src/layouts/BaseLayout.astro
const {title} = Astro.props;
import GridOverlay from "../components/astro/grid-overlay";
import Header from "../components/react/header/index.tsx";
import NewYorker from "../../public/assets/new-yorker.svg";

console.log(NewYorker)
const logo = {
  src: NewYorker,
  alt: "The New Yorker"
}
---
<html>
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Example Layout: {title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/index.css">
    <!-- <link rel="stylesheet" href="/style/home.css"> -->
    
  </head>
  <body>
    <!-- <GridOverlay /> -->
    <!-- Adds a navigation bar to every page. -->
    <Header client:idle logo={logo} />

    <div class="page-content">
      <!-- slot: your page content will be injected here. -->
      <slot />
    </div>
  </body>
</html>